$dark-blue: #2c2d35;
$dark-green: #598d66;
$light-green: #86928b;
$grey: #e1ede6;
$light-grey: #c4c4c4;
$off-white: #f4f6f5;
$greenish-grey: #d4e8d9;
$yellow: #eedb6d;
$dark-blue-opacity-80: rgba(13, 43, 67, 0.8);
$olive-green: #376b44;
$white: #ffffff;
